[class^='icon-']:before
	position: relative
	top: .1em
	margin-right: .1em
.box
	-webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75)
	-moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75)
	box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75)
	border-radius: .5em
	padding: 1em
	margin-bottom: 1em


.text-purple
	color: #4a2c82
.bg-purple
	background: #4a2c82 !important

.close
	background: none
	border: none
	font-size: 1.2em