
.main-title
	font-size: 1.6em
	text-align: center
	margin: 1.5em 0
.projects
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	.project
		margin-bottom: 2em
		display: flex
		flex-wrap: wrap
		@media screen and (max-width: 768px)
			width: 100%
		@media screen and (min-width: 768px)
			width: 47%
		.img-container
			width: 100%
			img
				width: 100%
		.data-container
			padding: 1em
			display: flex
			flex-direction: column
			justify-content: space-between
			width: 100%
			.title
				text-align: center
				font-size: 1.2em